---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';

html {
  font-family: 'Noto Sans KR', serif;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

pre {
  font-size: 12px;
}

pre,
code {
  font-family: 'Nanum Gothic Coding', monospace, Monaco;
}

.highlight {
  padding: 0.5rem;
}
